<div class="screen_height_expand border border-5">
    <div class="h-100 d-flex flex-column">
        <div style="height: 10%;">
            <img class="col-3 pt-3 ps-3" src="assets/kore_logo.png">
        </div>
        <div class="custom_img_container">
            <img class="img-fluid custom_img" src="assets/agile_images/bg_img.png" alt="bg_img">
        </div>
        <div class="mt-auto ms-3 display-1 text-warning">
            Agile
        </div>
        <div class="custom_hr ms-3 w-75"></div>
        <div class="text-muted ms-3 w-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ut sunt beatae vel fugiat id aut quam
            corrupti dolorem, recusandae ipsam. Quis, reiciendis.
        </div>
        <div class="text-center my-2">
            <input class="btn btn-primary" type="button" value="Alert using Service" (click)="btnClick()">
        </div>
    </div>
</div>